html {
    background: url("../images/bg.png");
    background-color: #3c3c3c;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: #65cdad;
    font-family: mono;
    line-height: 1.5;
    font-size: 100%;
}

a:link, a:visited {
  color: #fff;
}

a:hover, a:active {
  color: #eee;
}
